.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column-reverse;
}

.btn-square {
  border-radius: 0;
  display: block;
  margin: 0 auto;
}
