html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.masuk {
  text-decoration: none;
  color: #33860b;
  font-weight: 700;
}

.masuk:hover {
  color: #28a745;
}

.form-register {
  max-width: 330px;
  padding: 15px;
}
